body{
    margin: 0;
    background: linear-gradient(to left bottom, lightgreen lightblue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(11, 145, 133);
}
.container{
    background: rgb(71, 255, 169);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(4, 0, 27, 0.3);
    margin: 5px;
}
.heading{
    font-size: 30px;
}
.input{
    padding: 10px 20px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 5, 75, 0.5);
    margin: 10px;
}
.btn{
    background-color: rgb(0, 156, 156);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(20, 0, 92, 0.3);
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 8px rgb(0, 0, 128, 0.3);
    transition: all 300ms ease;
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}